.login-container {
    background-color: #1693a5; /* Fundo branco para o card */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
    width: 100%;
    max-width: 350px; /* Largura máxima para desktops */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 38%;
    margin-top: 7%;
}
/* Título */
.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000; /* Texto escuro */
}

/* Agrupamento de inputs */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
    font-size: 0.9em;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000; /* Borda clara */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
    
}

.input-group input:focus {
    outline: none;
}

/* Botão de login */
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #F25F5C; /* Cor primária azul */
    color: #000000;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    
    margin-top: 10px;
}

.login-button:active {
    transform: scale(0.99);
}

/* Link de Esqueceu a senha */
.forgot-password {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.forgot-password a {
    color: #D8D8C0;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    text-decoration: underline;
}
input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
    /* Manter a cor de acento */
    accent-color: #F25F5C; 
}

/* Media Query para telas menores (mobile) */
@media (max-width: 500px) {
    .login-container {
        margin: 20px;
        padding: 30px 20px;
    }
}
