<div class="catalogo-container">
    <h1><strong>Catálogo de Cursos</strong></h1>
    <h2>Todos os cursos disponíveis:</h2>
    <hr>

    <div class="grade-cursos">
      <div class="card">
        <img src="/assets/capas-cursos/capa-ia.png" alt="inteligencia-artificial" class="capas"> 
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-analisdados.png" alt="analise-de-dados" class="capas">
        <h3>Análise de Dados</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-python.png" alt="python" class="capas">
        <h3>Python</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-java.png" alt="java" class="capas">
        <h3>Java</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-negocios.png" alt="negocios-e-inovacoes" class="capas">
        <h3>Negocios e Inovações</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-produtividade.png" alt="produtividade" class="capas">
        <h3>Produtividade</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div> 
      <div class="card">
        <img src="/assets/capas-cursos/capa-marketing.png" alt="marketing" class="capas">
        <h3>Marketing</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
      <div class="card">
        <img src="/assets/capas-cursos/capa-bancodedados.png" alt="banco-de-dados" class="capas">
        <h3>Banco de Dados</h3> 
        <p>200h</p> 
        <button class="botao-de-matricula">Matrícula</button>
      </div>
    </div>
</div>