<div class="catalogo-container">
    <h1><strong>Catálogo de Cursos</strong></h1>
    <h2>Todos os cursos disponíveis:</h2>
    <hr>

    <div class="grade-cursos">
      <div class="card">
        <img src="" alt="Teste"> 
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div> 
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
      <div class="card">
        <img src="" alt="Teste">
        <h3>Inteligência Artificial</h3> 
        <p>200h</p> 
        <button>Martricula</button>
      </div>
    </div>
</div>