<div class="login-container">
        <form class="login-form"(ngSubmit)="login()">
            <h2>Bem-vindo(a)!</h2>
            <div class="input-group">
                <label for="id-n">Id</label>
                <input type="number" id="id-n" name="id-n" placeholder="000000" required [(ngModel)]="id">
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required [(ngModel)]="senha">
            </div>
            <div class="input-group22">
                <input type="radio" id="professor-radio" name="tipo-usuario" value="professor" [(ngModel)]="role" >
                <label for="professor-radio">Professor</label>
                <input type="radio" id="aluno-radio" name="tipo-usuario" value="aluno" [(ngModel)]="role" >
                <label for="aluno-radio">Aluno</label>
            </div>
            <button type="submit" class="login-button">Entrar</button>
            <p class="forgot-password">
                <a href="#">Esqueceu a senha?</a>
            </p>
            <p class="cadastrar">
                <a href="#">Cadastrar-se</a>
            </p>
        </form>
</div>