<div class="login-container">
        <form class="login-form">
            <h2>Cadastro</h2>
            <div class="cad-group">
                <label for="email">E-mail</label>
                <input type="text" id="email-" placeholder="abc123@gmail.com">
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required>
            </div>
            <div class="input-group22">
                <input type="radio" id="professor-radio" name="tipo-usuario" value="professor">
                <label for="professor-radio">Professor</label>
                <input type="radio" id="aluno-radio" name="tipo-usuario" value="aluno">
                <label for="aluno-radio">Aluno</label>
            </div>
            <button type="submit" class="cad-button">Cadastrar</button>
        </form>
</div>