/* Navbar */
.navbar {
  background-color: #030b18;
  color: #f5eae4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fe0032;
}

.search-bar input {
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 300px;
  margin-right: 140px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 70px;
}

.menu a {
  text-decoration: none;
  color: #f5eae4;
  font-weight: 500;
  transition: color 0.3s;
}

.menu a:hover {
  color: #fe0032;
}

.profile {
  display: flex;
  align-items: center;
  gap: 25px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #313e60;
}

/* Perfil */
.container {
  padding: 40px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #313e60;
  margin-left: 50px;
}

.dados h2 {
  font-size: 1.9rem;
  color: #f5eae4;
}

.dados p {
  color: #f5eae4;
  font-size: 1.1rem;
}
.cursos{
  margin-left: 50px;
}

/* Cursos */
.cursos h3 {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: #f5eae4;
}

.cursos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  cursor: pointer;
}

.card {
  background-color: #313e60;
  color: #f5eae4;
  width: 170px;
  height: 280px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(3, 11, 24, 0.3);
  background-color: #fe0032;
}

.icone {
  font-size: 2.2rem;
}
.linha-final {
  width: 50%;           
  margin: 25px auto;    
}
