<div class="pagina-home">
    <header class="navbar">
        <div class="logo">DigitalClass</div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar cursos..." />
        </div>
        <nav class="menu">
            <a href="#">Meus Cursos</a>
            <a href="#">Meus Certificados</a>
            <a href="#">Catálogo</a>
            <div class="profile">
                <span>João K.</span>
                <div class="avatar"></div>
            </div>
        </nav>
    </header>

    <!-- Conteúdo principal -->
    <main class="container">
        <section class="perfil">
            <div class="foto"></div>
            <div class="dados">
                <h2>Nome do Estudante</h2>
                <p>Matrícula: 000000</p>
            </div>
        </section>

        <section class="cursos">
            <h3>Cursos Disponíveis:</h3>
            <div class="cursos-grid">
                <div class="card">
                    <img src="/assets/icones/aplicativo-de-ia (1).png" alt="icone-ia">
                    <h4>Inteligência Artificial</h4>
                </div>
                <div class="card">
                    <img src="/assets/icones/programacao (1).png" alt="icone-programacao">
                    <h4>Programação</h4>
                </div>
                <div class="card">
                    <img src="/assets/icones/aperto-de-mao.png" alt="icone-negocios">
                    <h4>Negócios e Inovação</h4>
                </div>
                <div class="card">
                    <img src="/assets/icones/analise.png" alt="icone-analise">
                    <h4>Análise de Dados</h4>
                </div>
                <div class="card">
                    <img src="/assets/icones/marketing-movel.png" alt="icone-marketing">
                    <h4>Marketing</h4>
                </div>
            </div>
        </section>
    </main>
    <hr class="linha-final">
</div>